#include "resource.h"

I ICON "zWinSock.ico"

D DIALOG 21, 13, 640, 467
STYLE 0x94C801C5 | 0x00020000 // WS_MINIMIZEBOX
CAPTION "zWinSock"
FONT 9, "宋体"
BEGIN
	LTEXT			"昵称",			ID_STATIC,	534,   5,  18,   9
	COMBOBOX						ID_NAME,	550,   3,  89, 144, 0x200002 // WS_VSCROLL | CBS_DROPDOWN
	LTEXT			"地址",			ID_STATIC,	534,  19,  18,   9
	EDITTEXT						ID_ADDR,	550,  17,  89,  13, 0x80 // ES_AUTOHSCROLL
	PUSHBUTTON		"创建服务器",	ID_SERVER,	534,  31,  52,  15 // , 0x0B // BS_OWNERDRAW
	PUSHBUTTON		"连接服务器",	ID_CLIENT,	587,  31,  52,  15
	PUSHBUTTON		"断开服务器",	ID_CLOSE,	534,  47, 105,  15
	LISTBOX							ID_LIST,	534,  65, 105, 120
	EDITTEXT						ID_INFO,	534, 187, 105, 260, 0x50200904 // ES_NOHIDESEL | ES_READONLY | ES_MULTILINE
	EDITTEXT						ID_CHAT,	534, 450,  83,  13, 0x80 // ES_AUTOHSCROLL
	DEFPUSHBUTTON	"发送",			ID_SEND,	618, 449,  21,  15
END
